<div class="main-container">
  <div class="element-center start-page-titel start-page-container">Training App</div>
  <div class="">
    <div class="element-center">
      <select
        #inputType
        class="start-page-drop-down-box"
        name="userMenu"
        (change)="changeUser(inputType.value)"
      >
        <option value="" disabled selected>Bitte User auswählen...</option>
        <option *ngFor="let item of userOptionen" value="{{ item.id }}">
          {{ item.name }}
        </option>
      </select>
    </div>
  </div>
  <div class="element-center start-page-button-div">
    <button
      (click)="pushStartButton()"
      [disabled]="selectedUser == null"
      class="btn btn-primary start-button-groesse"
    >
      Start
    </button>
  </div>
  <div>
    <div class="element-center start-page-button-div">
      <button
        (click)="pushAlleTrainingEinheitenButton()"
        [disabled]="selectedUser == null"
        class="btn btn-primary start-button-groesse"
      >
        Alle Training Einheiten
      </button>
    </div>
    <div class="element-center start-page-button-div"><a routerLink="/allUebungen"><button class="btn btn-primary start-button-groesse">Übungen</button></a></div>
    <div class="element-center start-page-button-div"><a routerLink="/newUser"><button class="btn btn-primary start-button-groesse">Neuer User</button></a></div>

    
  
  </div>
</div>
