<div class="main-container">
  <div class="header-item-row">
    <div class="center-text-vertical header-item-button-div-left">
    </div>
    <div class="header-item-title center-text-vertical">Neuer User</div>
    <div class="header-item-button-div-right">
      <a routerLink="/"
        ><button routerLink="" class="btn btn-warning">Zurück</button></a
      >
    </div>
  </div>
</div>

<div>
  <div>
    <form [formGroup]="userFormGroup">
      <div class="drei-spalten-div">
        <div></div>
        <div class="name-input-feld"><label class="label-div">Name:</label> <input required class="mx-2" type="text" id="userName" formControlName="userName"></div>
        <div></div>
      </div>
  
    </form>
    <div class="ueser-speichern-button-div"><button (click)="saveUser()" class="btn btn-primary">Speichern</button></div>
  </div>
</div>
