/* You can add global styles to this file, and also import other style files */

.main-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  }


.header-item-row {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: [first] 25% [second] 50% [third] 25%;
  max-width: 39rem;
  /*min-width: 25rem;
  width: 25rem;
  */
  
}

.drei-spalten-div {
  padding-top: 9rem;
  display: grid;
  grid-template-columns: [first] 15% [second] 70% [third] 15%;
  max-width: 39rem;
}

.center-text-horizontal{
  text-align: center;
}

.center-text-vertical {
  display: flex;
  justify-self: center;
  align-self: center;
}

.rechts-buendig {
  text-align: right;
}

.links-buendig {
  text-align: left;
}

.header-item-title {
  text-align: center;
  /* padding-top: 7px; */
  grid-column-start: 2;
  grid-column-end: 2;
  font-weight: 700;
}

.header-item-button-div-left {
  grid-column-start: 1;
  grid-column-end: 1;
  font-weight: 500;
  justify-self: left;
}

.header-item-button-div-right {
  text-align: right;
  grid-column-start: 3;
  grid-column-end: 3;
}

.neues-training-alle-uebungen-ueberschrift {
  display: grid;  
  grid-template-columns: 13rem 6rem 11rem  3rem;
  column-gap: 0.3rem;
  padding-bottom: 0.5rem;
  font-weight: 500; 
}

.neues-training-alle-uebungen {
  display: grid;  
  grid-template-columns: 13rem 6rem 11rem 3rem;
  column-gap: 0.3rem;
  padding-bottom: 0.5rem; 
}

.drop-down-box {
  height: 3.5rem;
  width: 13rem;
}

.text-box {
  height: 3.5rem; 
  vertical-align: middle;
}

.neues-training-alle-uebungen-container {
  padding-top: 3rem;
}


.alle-uebungen-ueberschrift {
  display: grid;  
  grid-template-columns: 13rem 4rem 4rem 8.5rem;
  column-gap: 0.3rem;
  padding-bottom: 0.5rem;
  font-weight: 500; 
}

.alle-uebungen {
  display: grid;  
  grid-template-columns: 13rem 4rem 4rem 8.5rem max-content;
  column-gap: 0.3rem;
  padding-bottom: 0.5rem; 

}

.form-neue-uebung {
  padding-top: 1rem;
}

.neue-uebung-hinzufuegen-text {
  padding-top: 1rem;
}

.name-input-feld {
text-align: center;
}

.label-div {
  padding-right: 1rem;
}

.ueser-speichern-button-div {
  padding-top: 4rem;
  text-align: center;
  max-width: 39rem;
}

.start-page-container {
  max-width: 39rem;
}

.element-center {
  text-align: center;
  display: flex;
  justify-self: center;
  align-self: center;
}

.start-page-titel {
  padding-top: 5rem;
  padding-bottom: 5rem;
  font-weight: 700;
  font-size: 2.5rem;
}

.start-page-button-div {
  padding-top: 2rem;
  
}

.start-button-groesse {
  min-width: 20rem;
}