/* You can add global styles to this file, and also import other style files */

.main-container {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  }
/*
.app-container {
  font-weight: 300;
  min-height: 35rem;

}
*/


.header-item-row {
  padding-top: 0.5rem;
  display: grid;
  grid-template-columns: [first] 25% [second] 50% [third] 25%;
  /*min-width: 25rem;
  width: 25rem;
  */
  
}

.center-text-vertical {
  display: flex;
  justify-self: center;
  align-self: center;
}

.header-item-title {
  text-align: center;
  /* padding-top: 7px; */
  grid-column-start: 2;
  grid-column-end: 2;
  font-weight: 700;
}

.header-item-button-div-left {
  grid-column-start: 1;
  grid-column-end: 1;
  font-weight: 500;
  justify-self: left;
}


.header-item-button-div-right {
  text-align: right;
  grid-column-start: 3;
  grid-column-end: 3;
}

.neues-training-alle-uebungen-ueberschrift {
  display: grid;  
  grid-template-columns: 16rem 6rem 13rem  3rem;
  column-gap: 0.3rem;
  padding-bottom: 0.5rem;
  font-weight: 500; 
}

.neues-training-alle-uebungen {
  display: grid;  
  grid-template-columns: 16rem 6rem 13rem 3rem;
  column-gap: 0.3rem;
  padding-bottom: 0.5rem; 
}

.drop-down-box {
  height: 3rem;
  width: 16rem;
}

.text-box {
  /*height: 3rem; */
  vertical-align: middle;
}

.neues-training-alle-uebungen-container {
  padding-top: 3rem;
  
}

